/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 16px;
  --main-black: #000000;
  --main-white: #FFFFFF;
}

.app {
  font-family: "Poppins";
  background-color: var(--main-black);
  min-height: 100vh;
}

nav {
  display: grid;
  grid-template-columns: 20fr 55fr 25fr;
  padding-top: 4vh;
}
nav div {
  display: flex;
  align-items: center;
}
nav .left {
  padding-left: 6.375vh;
}
nav .left img {
  height: 85%;
}
nav .mid,
nav .right {
  justify-content: space-between;
}
nav .mid {
  padding: 0 4rem 0 0;
}
nav .mid h2 {
  margin-top: 1rem;
  color: var(--main-white);
  font-size: 1.875rem;
  font-weight: 500;
  margin-left: 1rem;
}
nav .mid div {
  margin-top: 1rem;
  background-color: var(--main-white);
  padding: 0.25rem 1rem;
  border-radius: 0.75rem;
  gap: 0.5rem;
}
nav .mid div input {
  font-weight: 500;
  font-size: 1.25rem;
  width: 21rem;
  border: none;
}
nav .mid div ::placeholder {
  color: var(--main-black);
  opacity: 1;
}
nav .right {
  padding: 0 1.125rem;
}
nav .right img:nth-child(1) {
  margin-top: 1rem;
}

section {
  display: grid;
  margin-top: 5vh;
  grid-template-columns: 20fr 55fr 25fr;
}
section .right {
  grid-area: 1/3/4/4;
}

.menu-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 3rem;
}

.logout {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.balance {
  color: var(--main-white);
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.balance .money {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
  justify-content: center;
}
.balance .money p:nth-child(1) {
  font-weight: bold;
  font-size: 1.25rem;
}
.balance .money p:nth-child(2) {
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: flex-start;
}
.balance .money p:nth-child(2) span {
  height: 0.75rem;
  font-size: 0.75rem;
  background-color: yellow;
  color: var(--main-black);
  padding: 0.25rem 0.35rem;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
}
.balance .money p:nth-child(3) {
  font-size: 1.25rem;
}
.balance .selector {
  display: flex;
  align-items: center;
}
.balance .selector div {
  background-color: #292727;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.balance .selector div .active {
  background-color: var(--main-black);
}
.balance .selector div button {
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  color: var(--main-white);
  border: none;
  background-color: transparent;
  font-size: 1.25rem;
}

.transaction {
  display: flex;
  flex-direction: column;
  color: var(--main-white);
  gap: 0.5rem;
  margin: 1rem 0;
}
.transaction .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 1.25rem;
}
.transaction .title p:nth-child(1) {
  margin-left: 1rem;
}
.transaction .title p:nth-child(2) {
  opacity: 0.7;
  margin-right: 1rem;
}

.right {
  color: var(--main-white);
  margin: 0 1rem;
}
.right > div {
  margin: 2rem 0;
}
.right > div > p {
  font-size: 1.25rem;
  font-weight: bold;
}

.dashboard {
  padding: 0 6.375vh;
  display: flex;
  justify-content: center;
  align-items: end;
}
.dashboard button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: none;
  border-radius: 0.75rem;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem 0.75rem;
  background: linear-gradient(266.37deg, #FAFF00 -5.82%, #FAFF00 15.95%, #1970D6 41.2%, #6C1182 72.88%);
}
.dashboard button img {
  height: 32px;
  width: 32px;
}

.btn-menu {
  display: flex;
  width: 55%;
  color: var(--main-white);
  gap: 0.5rem;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.btn-menu img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.transaction-card {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 3fr 5fr 3fr;
  padding: 0.5rem;
  background-color: rgba(32, 35, 43, 0.7);
  margin: 0 1rem;
  font-size: 0.75rem;
  border-radius: 1rem;
  gap: 1rem;
}
.transaction-card div {
  display: flex;
  align-items: center;
}
.transaction-card :nth-child(1) {
  justify-content: center;
}
.transaction-card :nth-child(1) img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}
.transaction-card :nth-child(2),
.transaction-card :nth-child(3),
.transaction-card :nth-child(4) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.25rem;
}
.transaction-card :nth-child(6) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.transaction-card :nth-child(6) button {
  border: none;
  background-color: var(--main-black);
  border-radius: 2rem;
  color: var(--main-white);
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
}

#chart {
  background-color: rgba(48, 53, 65, 0.67);
  border-radius: 2rem;
  width: 100%;
}

.transaction-list {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  margin: 1.5rem 0;
}
.transaction-list div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.transaction-list div:nth-child(1) img {
  width: 48px;
  height: 48px;
}
.transaction-list div:nth-child(2),
.transaction-list div:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.transaction-list .opacity {
  opacity: 0.7;
}
.transaction-list .green {
  color: #4AD619;
}
.transaction-list .red {
  color: #D61919;
}

.asset-card {
  padding: 1rem;
  border-radius: 2rem;
  margin: 1.5rem 0;
}
.asset-card div img {
  height: 56px;
  width: 56px;
}
.asset-card div:nth-child(3) {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 500;
}
.asset-card .white {
  color: var(--main-white);
}
.asset-card .black {
  color: var(--main-black);
}

.gradient-1 {
  background: linear-gradient(98.73deg, #611D8D 35.75%, #2F7EC1 73.26%);
}

.gradient-2 {
  background: linear-gradient(99.56deg, #FAFF00 35.82%, #29ABE2 64.75%, rgba(255, 255, 255, 0.7) 91.33%);
}

/*# sourceMappingURL=style.css.map */
