@import './assets/scss/base/_reset';

@import './assets/scss/abstracts/variables';

@import './assets/scss/themes/dashboard.scss';

@import './assets/scss/layout/nav.scss';
@import './assets//scss//layout/content.scss';
@import './assets/scss/layout/menu-dashboard.scss';
@import './assets/scss/layout/balance.scss';

@import './assets/scss/components/btn-dashboard.scss';
@import './assets/scss/components/btn-menu.scss';