.asset-card {
    padding: 1rem;
    border-radius: 2rem;
    margin: 1.5rem 0;

    div {
        img {
            height: 56px;
            width: 56px;
        }
    }

    div:nth-child(3) {
        margin-top: 0.5rem;
        display: flex;
        justify-content: space-between;
        font-size: 1.25rem;
        font-weight: 500;
    }

    .white {
        color: var(--main-white);
    }

    .black {
        color: var(--main-black);
    }
}

.gradient-1 {
    background: linear-gradient(98.73deg, #611D8D 35.75%, #2F7EC1 73.26%);
}

.gradient-2 {
    background: linear-gradient(99.56deg, #FAFF00 35.82%, #29ABE2 64.75%, rgba(255, 255, 255, 0.7) 91.33%);
}