.dashboard {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: end;

    @media screen and (max-width: 770px) {
        align-items: center;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        border: none;
        border-radius: 0.75rem;
        font-size: 1.5rem;
        font-weight: 500;
        padding: 0.5rem 0.75rem;
        background: linear-gradient(266.37deg, #FAFF00 -5.82%, #FAFF00 15.95%, #1970D6 41.2%, #6C1182 72.88%);

        img {
            height: 32px;
            width: 32px;
        }

        .resp {
            @media screen and (max-width: 1180px) {
                display: none;
            }
        }
    }
}