.transaction-list {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    margin: 1.5rem 0;
    gap: 0.5rem;

    div:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 48px;
            height: 48px;
        }
    }

    div:nth-child(2),
    div:nth-child(3) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .opacity {
        opacity: 0.7;
    }

    .green {
        color: #4AD619;
    }

    .red {
        color: #D61919;
    }
}