.transaction-card {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 3fr 5fr 3fr;
    padding: 0.5rem;
    background-color: rgba(32, 35, 43, 0.7);
    margin: 0 1rem;
    font-size: 0.75rem;
    border-radius: 1rem;
    gap: 1rem;

    div {
        display: flex;
        align-items: center;
    }

    :nth-child(1) {
        justify-content: center;

        img {
            width: 32px;
            height: 32px;
            object-fit: contain;
        }
    }

    :nth-child(2),
    :nth-child(3),
    :nth-child(4) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.25rem;
    }

    :nth-child(6) {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            border: none;
            background-color: var(--main-black);
            border-radius: 2rem;
            color: var(--main-white);
            padding: 0.5rem 1rem;
            font-size: 0.875rem;
            font-weight: 500;
        }
    }
}