.balance {
    color: var(--main-white);
    display: grid;
    grid-template-columns: 1fr 2fr;

    .money {
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: start;
        justify-content: center;

        p:nth-child(1) {
            font-weight: bold;
            font-size: 1.25rem;
        }

        p:nth-child(2) {
            font-weight: bold;
            font-size: 1.5rem;
            display: flex;
            align-items: flex-start;

            span {
                height: 0.75rem;
                font-size: 0.75rem;
                background-color: yellow;
                color: var(--main-black);
                padding: 0.25rem 0.35rem;
                border-radius: 0.5rem;
                margin-left: 0.5rem;
            }
        }

        p:nth-child(3) {
            font-size: 1.25rem;
        }
    }

    .selector {
        display: flex;
        align-items: center;

        div {
            background-color: #292727;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;

            .active {
                background-color: var(--main-black);
            }

            button {
                padding: 0.25rem 0.75rem;
                border-radius: 0.5rem;
                color: var(--main-white);
                border: none;
                background-color: transparent;
                font-size: 1.25rem;
            }
        }
    }
}