section {
    display: grid;
    margin-top: 5vh;
    grid-template-columns: 20fr 55fr 25fr;

    @media screen and (max-width: 1180px) {
        grid-template-columns: 10fr 55fr 25fr;
    }

    @media screen and (max-width: 1000px) {
        grid-template-columns: 5fr 55fr;
    }

    .right {
        grid-area: 1 / 3 / 4 / 4;
    }
}