.menu-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 3rem;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}