nav {
    display: grid;
    grid-template-columns: 20fr 55fr 25fr;
    padding-top: 4vh;

    @media screen and (max-width: 1180px) {
        grid-template-columns: 10fr 55fr 25fr;
    }

    @media screen and (max-width: 950px) {
        grid-template-columns: 10fr 55fr 10fr;
    }

    @media screen and (max-width: 770px) {
        padding-top: 1vh;
        grid-template-columns: 20fr 55fr 10fr;
    }

    div {
        display: flex;
        align-items: center;
    }

    .left {
        padding-left: 6.375vh;

        img {
            height: 85%;

            @media screen and (max-width: 770px) {
                height: 45%;
            }
        }

        @media screen and (max-width: 1180px) {
            padding-left: 0;
        }

        .show {

            @media screen and (max-width: 1180px) {
                display: none;
            }
        }

        .none {
            display: none;

            @media screen and (max-width: 1180px) {
                display: block;
                margin: 0 auto;
            }
        }
    }

    .mid,
    .right {
        justify-content: space-between;
    }

    .mid {
        padding: 0 4rem 0 0;

        @media screen and (max-width: 1280px) {
            padding: 0;
        }

        @media screen and (max-width: 770px) {
            align-items: flex-start;
            flex-direction: column;
        }

        h2 {
            margin-top: 1rem;
            color: var(--main-white);
            font-size: 1.875rem;
            font-weight: 500;
            margin-left: 1rem;
        }

        div {
            margin-top: 1rem;
            background-color: var(--main-white);
            padding: 0.25rem 1rem;
            border-radius: 0.75rem;
            gap: 0.5rem;

            @media screen and (max-width: 770px) {
                margin-left: 1rem;
            }

            input {
                font-weight: 500;
                font-size: 1.25rem;
                width: 21rem;
                border: none;

                @media screen and (max-width: 1280px) {
                    width: 50%;
                }
            }

            ::placeholder {
                color: var(--main-black);
                opacity: 1;
            }
        }
    }

    .right {
        padding: 0 1.125rem;

        img:nth-child(1) {
            margin-top: 1rem;
        }

        @media screen and (max-width: 1180px) {
            padding: 0;
        }

        @media screen and (max-width: 1000px) {
            display: flex;
            gap: 1rem;
        }
    }
}