.transaction {
    display: flex;
    flex-direction: column;
    color: var(--main-white);
    gap: 0.5rem;
    margin: 1rem 0;

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        font-size: 1.25rem;

        p:nth-child(1) {
            margin-left: 1rem;
        }

        p:nth-child(2) {
            opacity: 0.7;
            margin-right: 1rem;
        }
    }
}